@import '../../styles/variables.scss';

.sign-up {
    padding-top: 140px;
    padding-bottom: 100px;
    background-color: $color-lightGray;
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}