$color-black: #000000;
$color-white: #ffff;
$color-yellow: #F4E041;
$color-yellow-hover: #FFE302;
$color-blue: #00BDD3;
$color-red: #CB3D40;
$color-lightGray: #F8F8F8;
$color-darkGray: #B4B4B4;
$color-input-gray: #7e7e7e;
$color-input-border: #dad9d9;

$border-radius: 80px;
$border-radius-small: 16px;

$font-size-default: 16px;
$font-size-title: 40px;

$line-height-title: 1;
$line-height-default: 1.625;
