@import '../../../styles/variables.scss';

.btn {
    width: 100px;
    padding: 4px 0;
    background-color: $color-yellow;
    border-radius: $border-radius;
    font-size: $font-size-default;
    line-height: $line-height-default;
    transition: background-color .3s linear;
}

.btn:hover {
    background-color: $color-yellow-hover;
}

.btn:disabled {
    color: $color-white;
    background-color: $color-darkGray;
    cursor: default;
}